* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

h1 {
  color: #FFFFFF;
}

h2 {
  color: #F5F5F5;
}

p {
  color: #DCDCDC;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10.24px;
  line-height: 150%;

}

a {
  text-decoration: none;
}

.App {
  width: 550px;
  height: 868px;
  background: #23252C;
}

.Interests, .About {
  background: #1A1B21;
  margin: 0 116px;
  padding: 0 35px 24px;
}

.Interests>p, .About>p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10.24px;
  line-height: 150%;
}

.About {
  padding-top: 30px;
}